ol li {
    background-color: yellow;
}

.par {
    color: green;
}

.impar {
    text-transform: uppercase;
}

.header {
    color: red;
}

h1.diff {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: 700;
}

#change-color {
    color: blue;
}

.different {
    background-color: pink;
}

#aliados li a:hover {
    font-weight: 700;
}

#aliados li a:hover[href*="stackoverflow"] {
    color: orange;
}

#aliados li a:hover[href*="w3schools"] {
    color: green;
}

#aliados li a:hover[href*="mozilla"] {
    color: black;
  }
  
  #aliados li a:hover[href*="devdocs"] {
    color: yellow;
  }
  
  #aliados li a:hover[href*="trybe"] {
    color: green;
  }
  